.editor {
    border: 2px solid grey;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.editorContentWrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
}
.editorContentWrapper > * {
    position: absolute;
}
.editor .handle {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.438);
    position: absolute;
    display: none;
}